<div class="page-footer">
    <div class="container">
        <div class="btn-hong-lam-wrap">
            <a href='https://honglam.vn/' title='Logo' class='btn-hong-lam btn-hong-lam-img'>
    <span class='line-left'></span>
    <span class='btn-hong-lam-core'>
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://honglam.vn/pic/banner/honglam-logo-bottom.png" alt="Logo" class="lazyload" />
    </span>
    <span class='line-right'></span>
</a>
        </div>
        
<div class="row">
    <div class='pb-3 pb-lg-0 col-md-6 col-lg-3'>
        <div class='list'>
            <div class='list-title'>Về chúng tôi</div>
            <ul class='menu'><li><a href='https://honglam.vn/cau-chuyen-hong-lam' title='Câu chuyện Hồng Lam'>Câu chuyện Hồng Lam</a></li><li><a href='https://honglam.vn/gioi-thieu' title='Giới thiệu chung'>Giới thiệu chung</a></li><li><a href='https://honglam.vn/nhan-dien-thuong-hieu' title='Nhận diện thương hiệu'>Nhận diện thương hiệu</a></li><li><a href='https://honglam.vn/tam-nhin' title='Tầm nhìn'>Tầm nhìn</a></li><li><a href='https://honglam.vn/su-menh' title='Sứ mệnh'>Sứ mệnh</a></li><li><a href='https://honglam.vn/triet-ly-kinh-doanh' title='Triết lý kinh doanh'>Triết lý kinh doanh</a></li><li><a href='https://honglam.vn/van-hoa-cong-ty' title='Văn hóa công ty'>Văn hóa công ty</a></li><li><a href='https://honglam.vn/cam-nhan-khach-hang' title='Cảm nhận của khách hàng'>Cảm nhận của khách hàng</a></li><li><a href='https://honglam.vn/tuyen-dung' title='Tuyển dụng'>Tuyển dụng</a></li></ul>
        </div>
    </div><div class='pb-3 pb-lg-0 col-md-6 col-lg-3'>
        <div class='list'>
            <div class='list-title'>Sản phẩm</div>
            <ul class='menu'><li><a href='https://honglam.vn/goi-giai-phap-qua-tang' title='Giải pháp quà tặng, quà Tết'>Giải pháp quà tặng, quà Tết</a></li><li><a href='https://honglam.vn/o-mai' title='Ô mai'>Ô mai</a></li><li><a href='https://honglam.vn/mut-tet' title='Mứt Tết'>Mứt Tết</a></li><li><a href='https://honglam.vn/banh-keo' title='Bánh - Kẹo'>Bánh - Kẹo</a></li><li><a href='https://honglam.vn/che' title='Chè'>Chè</a></li><li><a href='https://honglam.vn/thuc-uong-hong-lam' title='Thức uống Hồng Lam'>Thức uống Hồng Lam</a></li><li><a href='https://honglam.vn/san-pham-khac' title='Sản phẩm khác'>Sản phẩm khác</a></li></ul>
        </div>
    </div><div class='pb-3 pb-lg-0 col-md-6 col-lg-3'>
        <div class='list'>
            <div class='list-title'>Hỗ trợ khách hàng</div>
            <ul class='menu'><li><a href='https://honglam.vn/chinh-sach-bao-mat-thong-tin' title='Chính sách bảo mật thông tin'>Chính sách bảo mật thông tin</a></li><li><a href='https://honglam.vn/quy-dinh-va-hinh-thuc-thanh-toan' title='Quy định và hình thức thanh toán'>Quy định và hình thức thanh toán</a></li><li><a href='https://honglam.vn/chinh-sach-va-phi-van-chuyen' title='Chính sách vận chuyển'>Chính sách vận chuyển</a></li><li><a href='https://honglam.vn/chinh-sach-doi-tra-hang' title='Chính sách đổi - trả hàng'>Chính sách đổi - trả hàng</a></li><li><a href='https://honglam.vn/hoi-dap' title='Câu hỏi thường gặp'>Câu hỏi thường gặp</a></li><li><a href='https://honglam.vn/lien-he' title='Liên hệ'>Liên hệ</a></li></ul>
        </div>
    </div><div class='pb-3 pb-lg-0 col-md-6 col-lg-3'>
        <div class='list'>
            <div class='list-title'>Xem hệ thống cửa hàng</div>
            <p>
                <a href='https://honglam.vn/he-thong-phan-phoi' title='Xem hệ thống cửa hàng'><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://honglam.vn/pic/menu/footer-maps(1).png" alt="Xem hệ thống cửa hàng" class="img-map lazyload" /></a>
            </p>
        </div>
    </div>
</div>

        <div class="row">
            <div class="pb-3 pb-lg-0 col-md-6 col-lg-3">
                <div class="list">
                    <div class="list-title">Công ty Cổ phần Hồng Lam</div>
                    <ul>
                        <li><i class="fa fa-map-marker"></i> Văn phòng Hà Nội: Số 143 Cầu Giấy, quận Cầu Giấy, Hà Nội</li> 
                        <li><i class="fa fa-phone"></i> Điện thoại: <a href="tel:02462736615">(024) 6273 6615</a></li>
                        <li><i class='fa fa-volume-control-phone'></i> Hotline: <a href="tel:*6257">✱6257</a> / 0988616086</li>                       
                        <li><i class="fa fa-envelope"></i> Email: <a href="mailto:honglam@honglam.vn">honglam@honglam.vn</a></li>
                        <li><i class="fa fa-globe"></i> Website: honglam.vn</li>
                    </ul>
                </div>
            </div>
            <div class="pb-3 pb-lg-0 col-md-6 col-lg-3">
                <div class="list">
                    <div class='list-title'>Nhà máy chế biến</div>
                    <ul>
                        <li><i class='fa fa-map-marker'></i> Khu công nghiệp Quang Minh, thị trấn Chi Đông, huyện Mê Linh, Hà Nội</li> 
                        <li><i class='fa fa-phone'></i> Điện thoại: <a href="tel:02438182486">(024) 3818 2486</a></li>
                        <li><i class='fa fa-fax'></i> Fax: <a href="fax:02435860187">(024) 3586 0187</a></li>
                    </ul>
                </div>
            </div>
            
<div class="pb-3 pb-lg-0 col-md-6 col-lg-3 email-newsletter-wrap">
    <div class="list ValidateForm" id="NewsLetterSignUp">
        <div class="list-title">Đăng ký nhận bản tin</div>
        <p>Nhận ngay thông tin về những ưu đãi hấp dẫn từ Hồng Lam</p>
        <div class="btn-hong-lam btn-hong-lam-37">
            <input type="text" value="Email của bạn" placeholder="Email của bạn" id="tbEmail_nlsu" onkeyup="CheckNewsLetterSignUp(event)" data-validate="true" data-vld-email="true"/>
        </div>
        <a href="#" data-function="PostNewsLetterSignUp" onclick="PostNewsLetterSignUp(event)" class="btn-hong-lam btn-hong-lam-37-solid"><span class="btn-hong-lam-core">Đăng ký</span></a>
        
        <div class="form-alert mt-2"></div>
    </div>
</div>
<script>
    function CheckNewsLetterSignUp(event) {
        if (event.keyCode === 13)
            PostNewsLetterSignUp();
    }

    function PostNewsLetterSignUp(event) {
        if (event) event.preventDefault();

        //Khối chứa form
        var $container = $("#NewsLetterSignUp");

        //Validate dữ liệu
        if ($container.validate('check')) {
            AjaxLoading(true);

            //Khóa nút gửi để không bị gửi nhiều lần
            $("a[data-function='PostNewsLetterSignUp']").css({ "pointer-events": "none" });

            //Gửi dữ liệu lên server
            $.ajax({
                url: "/themes/themes01/ajax/newsletter.aspx",
                type: "POST",
                dataType: "json",
                data: {
                    "action": "PostNewsLetterSignUp",
                    "email": $("#tbEmail_nlsu").val()
                },
                success: function (res) {
                    AjaxLoading(false);

                    $(".form-alert", $container).CreateFormAlert(res[0], true, true);
                },
                error: function (error) {
                    AjaxLoading(false);
                    console.log("Có lỗi xảy ra. NewsLetterSignUp");
                }
            });
        }
    }
</script>
            <div class="pb-3 pb-lg-0 col-md-6 col-lg-3">
                <div class="list">
                    <div class="list-title">Fanpage facebook</div>
                    <div id="fb-root"></div>
                    <script>
                        setTimeout(function () {
                            (function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.1&appId=557466801337180&autoLogAppEvents=1';
                                fjs.parentNode.insertBefore(js, fjs);
                            } (document, 'script', 'facebook-jssdk'));
                        }, 10000);
                    </script>
                    <div class="fb-page-wrap">
                        <div class="fb-page" data-href="https://www.facebook.com/tinhhoaquaviet.vn/" data-height="140" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 pb-3 pb-lg-0">Giấy CNĐKKD: 2500258674 do Sở Kế hoạch và Đầu tư TP Hà Nội cấp ngày 17/07/2006<br/><a target="_blank" href="https://tatthanh.com.vn/" title="Công ty Tất Thành" style="color:#5e4027"><img alt="Công ty Tất Thành" src="https://honglam.vn/Themes/Themes01/Assets/css/pic/logo-tatthanh.png" style="margin-top:-2px"/> <span>Website được thiết kế bởi Tất Thành</span></a></div>
            <div class="pb-3 pb-md-0 col-md-6 col-lg-3"><a target="_blank" rel="nofollow" href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=23041"><img alt="Đã thông báo Bộ Công Thương" data-src="/Themes/Themes01/Assets/css/pic/da-tb-bo-cong-thuong.png" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/></a></div>
            <div class="pb-3 pb-md-0 col-md-6 col-lg-3 col-mxh">
                <span>Kết nối qua</span>
                <a href="https://facebook.com/tinhhoaquaviet.vn/" rel="nofollow" target="_blank"><img alt="Facebook" data-src="/Themes/Themes01/Assets/css/pic/fb-logo.png" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></a>
                <a href="https://www.youtube.com/channel/UCWFGXEZ7-pHRQ8p9TCmi0QA" rel="nofollow" target="_blank"><img alt="Youtube" data-src="/Themes/Themes01/Assets/css/pic/youtube-logo.png" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></a>
            </div>
        </div>
    </div>
        
    
</div>

<a href="#" onclick="ScrollToTop(event)" class="btn-go-to-top"></a>
<a href="tel:*6257" class="btn-call-fixed">
    <div class="icon-wrap">
        <div class="border-1"></div>
        <div class="border-2"></div>
        <i class="fa fa-phone"></i>            
    </div>
    <div class="text">
        <span>Giao hàng tận nơi</span><br/>
        <span>*6257</span>
    </div>
</a>

<div class="fade-popup"></div>
<div class="light-popup light-popup-member-login" id="popup-login-register">
    <a href="javascript:ClosePopup()" class="btn-close-popup"><i class="fa fa-times"></i> Đóng lại</a>
    <div class="popup-content">        
        <div class="tabs-wrap">
            <div class="tabs">
                <a href="#" data-tab="tab-dangnhap" class="tab active">Đăng nhập</a>
                <a href="#" data-tab="tab-dangky" class="tab">Đăng ký</a>
                <a href="#" data-tab="tab-forgot" class="tab" style="display: none">Đặt lại mật khẩu</a>
            </div>
            <div class="tabs-content">
                <div class="tab-content active" data-tab="tab-dangnhap">
                    <div class="ValidateForm register-form" id="login-form">
                        <div class="form-group">
                            <label for="tbTenDangNhap_lif">Tên đăng nhập</label>
                            <input type="text" class="form-control" id="tbTenDangNhap_lif" placeholder="Nhập email của bạn" data-validate="true" data-vld-required="true">
                        </div>
                        <div class="form-group">
                            <label for="tbMatKhau_lif">Mật khẩu</label>
                            <input type="password" class="form-control" id="tbMatKhau_lif" onkeyup="CheckMemberLogin(event)" placeholder="Mật khẩu từ 8-12 ký tự" data-validate="true" data-vld-password="true">
                        </div>                                        
                        <div class="form-btns text-center">
                            <a href="javascript:void(0)" onclick="MemberLogin()" data-function="MemberLogin" title="Đăng nhập" class="btn-hong-lam btn-hong-lam-37-solid"><span class="btn-hong-lam-core">Đăng nhập</span></a>
                            <p>
                                 Bạn chưa có tài khoản? <a href="javascript:OpenPopupRegister()" title="Đăng ký">Đăng ký</a><br/>
                                <a href="javascript:OpenPopupForgotPassword()" title="Quên mật khẩu">Quên mật khẩu?</a>
                            </p>
                            <div class="mt-3">
                                <a href="https://www.facebook.com/v3.3/dialog/oauth?client_id=557466801337180&amp;redirect_uri=https%3a%2f%2fhonglam.vn%2fFbLogin.aspx&amp;state=637243675883444989&amp;response_type=token&amp;scope=public_profile,email" class="lg-fb"><i class="fa fa-facebook"></i> Đăng nhập bằng Facebook</a>
                                <a href="https://accounts.google.com/o/oauth2/auth?client_id=297737596970-q8ri7p0q5c374ddemc5bdhhd3amb25vt.apps.googleusercontent.com&amp;redirect_uri=https%3a%2f%2fhonglam.vn%2fGgLogin.aspx&amp;state=637243675883444989&amp;response_type=token&amp;scope=profile+email&amp;include_granted_scopes=true" class="lg-gp"><i class="fa fa-google-plus"></i> Đăng nhập bằng Google+</a>
                            </div>
                        </div>
                        <div class="form-alert"></div>
                    </div>
                </div>
                <div class="tab-content" data-tab="tab-dangky">
                    <div class="ValidateForm register-form" id="register-form">
                        <div class="form-group">
                            <label for="tbHoVaTen_rgf">Họ và tên</label>
                            <input type="text" class="form-control" id="tbHoVaTen_rgf" placeholder="Họ tên của bạn" data-validate="true" data-vld-required="true">
                        </div>
                        <div class="form-group">
                            <label for="tbDienThoai_rgf">Điện thoại</label>
                            <input type="text" class="form-control" id="tbDienThoai_rgf" placeholder="Điện thoại của bạn" data-validate="true" data-vld-required="true">
                        </div>
                        <div class="form-group">
                            <label for="tbEmail_rgf">Email</label>
                            <input type="text" class="form-control" id="tbEmail_rgf" placeholder="Email của bạn" data-validate="true" data-vld-required="true" data-vld-email="true">
                        </div>
                        <div class="form-group">
                            <label for="tbDiaChi_rgf">Địa chỉ</label>
                            <input type="text" class="form-control" id="tbDiaChi_rgf" placeholder="Địa chỉ của bạn">
                        </div>
                        <div class="form-inline mt-md-3 mb-md-3">
                            <div class="form-group">
                                <label for="rbGioiTinh1_rgf" class="mr-4">Giới tính</label>
                                
                                <div class="form-check form-check-inline ml-md-3 mr-md-3">
                                    <input class="form-check-input" id="rbGioiTinh1_rgf" type="radio" name="rbGioiTinh_rgf" value="1" checked="checked"/>
                                    <label class="form-check-label" for="rbGioiTinh1_rgf">Nam</label>                                    
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="rbGioiTinh0_rgf" type="radio" name="rbGioiTinh_rgf" value="0"/>
                                    <label class="form-check-label" for="rbGioiTinh0_rgf">Nữ</label>                                    
                                </div>                                                            
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tbNgaySinh_rgf">Ngày sinh</label>
                            <input type="text" class="form-control datepicker" id="tbNgaySinh_rgf" placeholder="Ngày/Tháng/Năm sinh của bạn">
                        </div>
                        <div class="form-group">
                            <label for="tbMatKhau_rgf">Mật khẩu</label>
                            <input type="password" class="form-control" id="tbMatKhau_rgf" placeholder="Mật khẩu từ 8-12 ký tự" data-validate="true" data-vld-password="true">
                        </div>
                        <div class="form-group">
                            <label for="tbMatKhauNhapLai_rgf">Nhập lại mật khẩu</label>
                            <input type="password" class="form-control" id="tbMatKhauNhapLai_rgf" placeholder="Mật khẩu từ 8-12 ký tự" data-validate="true" data-vld-password="true" data-vld-compare-with="#tbMatKhau_rgf">
                        </div>
                        
                        <div class="form-btns text-center">
                            <a href="javascript:void(0)" onclick="MemberRegister()" data-function="MemberRegister" title="Đăng ký" class="btn-hong-lam btn-hong-lam-37-solid"><span class="btn-hong-lam-core">Đăng ký</span></a>
                            <p>
                                 Bạn đã có tài khoản? <a href="javascript:OpenPopupLogin()" title="Đăng nhập">Đăng nhập</a>
                            </p>
                        </div>
                        <div class="form-alert"></div>
                    </div>
                </div>
                <div class="tab-content" data-tab="tab-forgot">
                    <div class="ValidateForm register-form" id="forgot-password-form">
                        <div class="form-group">
                            <label for="tbEmail_fpf">Email</label>
                            <input type="text" class="form-control" id="tbEmail_fpf" placeholder="Nhập email của bạn" data-validate="true" data-vld-required="true" data-vld-email="true">
                        </div>                                         
                        <div class="form-btns text-center">
                            <a href="javascript:void(0)" onclick="MemberForgotPassword()" data-function="MemberForgotPassword" title="Đặt lại mật khẩu" class="btn-hong-lam btn-hong-lam-37-solid"><span class="btn-hong-lam-core">Đặt lại mật khẩu</span></a>
                            <p>
                                 Bạn đã có tài khoản? <a href="javascript:OpenPopupLogin()" title="Đăng nhập">Đăng nhập</a>
                            </p>
                        </div>
                        <div class="form-alert"></div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

<script>
    function MemberRegister() {    
        //Khối chứa form
        var containerSelector = "#register-form";
        var $container = $(containerSelector);

        //Gửi dữ liệu lên server
        if ($container.validate('check')) {

            //Khóa nút gửi để không bị gửi nhiều lần     
            $("a[data-function='MemberRegister']").css("pointer-events", "none").find("span").text("Đang lưu");

            $.ajax({
                url: "/themes/themes01/ajax/member.aspx",
                type: "POST",
                dataType: "json",
                data: {
                    "action": "MemberRegister",
                    "hoTen": $("#tbHoVaTen_rgf").val(),
                    "dienThoai": $("#tbDienThoai_rgf").val(),
                    "email": $("#tbEmail_rgf").val(),
                    "diaChi": $("#tbDiaChi_rgf").val(),
                    "gioiTinh": $("input[type='radio'][name='rbGioiTinh_rgf']:checked", $container).val(),
                    "ngaySinh": $("#tbNgaySinh_rgf").val(),
                    "matKhau": $("#tbMatKhau_rgf").val()
                },
                success: function (res) {
                    if (res[0] === "success") {
                        //Hiện thông báo cần kích hoạt tài khoản
                        $(".form-alert", $container).CreateFormAlert(res[1], true, true);
                    }
                    else {
                        //Mở lại nút gửi                   
                        $("a[data-function='MemberRegister']").css("pointer-events", "auto").find("span").text("Đăng ký");

                        //Hiện thông báo lỗi
                        $(".form-alert", $container).CreateFormAlert(res[1], false, true);
                    }
                },
                error: function (error) {
                    console.log("Có lỗi xảy ra. MemberRegister");
                }
            });
        }
    }

    function CheckMemberLogin(event) {
        event.preventDefault();

        if (event.keyCode === 13)
            MemberLogin();
    }

    function MemberLogin() {
        //Khối chứa form
        var containerSelector = "#login-form";
        var $container = $(containerSelector);

        //Gửi dữ liệu lên server
        if ($container.validate('check')) {

            //Khóa nút gửi để không bị gửi nhiều lần     
            $("a[data-function='MemberLogin']").css("pointer-events", "none").find("span").text("Đang đăng nhập");

            $.ajax({
                url: "/themes/themes01/ajax/member.aspx",
                type: "POST",
                dataType: "json",
                data: {
                    "action": "MemberLogin",
                    "tenDangNhap": $("#tbTenDangNhap_lif").val(),
                    "matKhau": $("#tbMatKhau_lif").val()
                },
                success: function (res) {
                    if (res[0] === "success") {
                        //Hiện thông báo thành công
                        $(".form-alert", $container).CreateFormAlert(res[1], true);

                        //Chuyển tới trang thành viên
                        window.location = "https://honglam.vn/thanh-vien";
                    }
                    else {
                        //Mở lại nút gửi                   
                        $("a[data-function='MemberLogin']").css("pointer-events", "auto").find("span").text("Đăng nhập");

                        //Hiện thông báo lỗi
                        $(".form-alert", $container).CreateFormAlert(res[1], false);
                    }
                },
                error: function (error) {
                    console.log("Có lỗi xảy ra. MemberLogin");
                }
            });
        }
    }

    function MemberForgotPassword() {
        //Khối chứa form
        var containerSelector = "#forgot-password-form";
        var $container = $(containerSelector);

        //Gửi dữ liệu lên server
        if ($container.validate('check')) {

            //Khóa nút gửi để không bị gửi nhiều lần     
            $("a[data-function='MemberForgotPassword']").css("pointer-events", "none").find("span").text("Đang đặt lại");

            $.ajax({
                url: "/themes/themes01/ajax/member.aspx",
                type: "POST",
                dataType: "json",
                data: {
                    "action": "MemberForgotPassword",
                    "email": $("#tbEmail_fpf").val()
                },
                success: function (res) {
                    if (res[0] === "success") {
                        //Hiện thông báo thành công
                        $(".form-alert", $container).CreateFormAlert(res[1], true);
                    }
                    else {
                        //Mở lại nút gửi                   
                        $("a[data-function='MemberForgotPassword']").css("pointer-events", "auto").find("span").text("Đặt lại mật khẩu");

                        //Hiện thông báo lỗi
                        $(".form-alert", $container).CreateFormAlert(res[1], false);
                    }
                },
                error: function (error) {
                    console.log("Có lỗi xảy ra. MemberForgotPassword");
                }
            });
        }
    }
</script>


        
    <!-- #region Các file js -->
    <script src="https://honglam.vn/Themes/Themes01/Assets/js/_Home.min.js" defer></script>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- #endregion -->   
    
    <!-- #region Các mã có thể nhúng vào cuối thẻ body như Google Analytics, Facebook,... -->
    
    <!-- #endregion -->
</body>

<!-- Mirrored from honglam.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 May 2020 06:22:14 GMT -->
</html>
